* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
  background:#6eb6b8;
}
.rayaan{
width:60%;
height:100%;
border:2px dotted #fff;

}
form {
  background: #fbb698;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 60%;
  border:2px dotted #fff;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: #2D9F0B;
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  color:#fff;
  background: #006566;
  box-shadow:8px 8px 12px #fff;
}
#messages li:nth-child(even) {
  color:#fff;
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */